<table class="table">
        <thead>
          <tr>
            <th scope="col">Id: {{techDetail.id}}</th>
          </tr>
          <tr>
            <th scope="col">Nombre: {{techDetail.name}}</th>
          </tr>
          <tr>
            <th scope="col">Descripcion: {{techDetail.descripcion}}</th>
          </tr>
          <tr>
            <th scope="col">Version: {{techDetail.version}}</th>
          </tr>
          <tr>
            <th scope="col">Tipo de tecnologia: {{techDetail.techCategory}}</th>
          </tr>
          <tr>
            <th scope="col">Url: {{techDetail.url}}</th>
          </tr>
        </thead>
      </table>
