<form>
  <div class="form-group">
    <h1>Agregar un nuevo estado Web</h1>
  </div>
  <div class="form-group">
    <label for="estadoControlSelect">Seleccione el nuevo estado:</label>
    <select class="form-control" id="estadoControlSelect">
      <option>ACTIVO</option>
      <option>INACTIVO</option>
      <option>ENFALLA</option>
      <option>OTROS</option>
    </select>
  </div>
  <div class="form-group">
    <label for="DescripcionFormControlTextarea">Descripción:</label>
    <textarea class="form-control" id="DescripcionFormControlTextarea" rows="4" placeholder="Descripción del nuevo estado web"></textarea>
  </div>



  <button type="submit" class="btn btn-primary">Crear Estado!</button>
</form>