<mat-grid-list cols="4" rowHeight="2:1">
    <mat-grid-tile [colspan]="1" [rowspan]="1" >
        <mat-card style="margin: 2vmin" class="detailPane">
                <img src="{{site?.imagen}}" class="rounded"/>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="2">
        <mat-list>
            <mat-list-item> <b>Audiencia Esperada:</b>

                    <div *ngIf="editMode;else showOnlyModeAudence">
                        <input matInput placeholder="Audiencia Esperada" [(ngModel)]="siteClone.audienciaEsperada" value="{{site?.audienciaEsperada}}">
                    </div>
                    <ng-template #showOnlyModeAudence>
                        {{site?.audienciaEsperada}}
                    </ng-template>

                 </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> <b>Descripcion:</b>
                <div *ngIf="editMode;else showOnlyModeDesc">
                    <input matInput placeholder="Descripcion" [(ngModel)]="siteClone.descripcion" value="{{site?.descripcion}}">
                </div>
                <ng-template #showOnlyModeDesc>
                    {{site?.descripcion}}
                </ng-template>

                </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> <b>Fecha de lanzamiento: </b>
                <div *ngIf="editMode;else showOnlyModeDate">
                    <input matInput [matDatepicker]="picker" [(ngModel)]="siteClone.fechaLanzamiento" placeholder="Choose a date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </div>
                <ng-template #showOnlyModeDate>
                    {{site?.fechaLanzamiento}}
                </ng-template>

                </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> <b>Proposito: </b>
                <div *ngIf="editMode;else showOnlyModePurpose">
                    <input matInput placeholder="Proposito" [(ngModel)]="siteClone.proposito" value="{{site?.proposito}}">
                </div>
                <ng-template #showOnlyModePurpose>
                    {{site?.proposito}}
                </ng-template>

                </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> <b>Identificador: </b> {{site?.id}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>
                <button mat-raised-button color="accent"  (click)="toogleEdit()" >Edit Mode Toogle </button>
                <div *ngIf="editMode">
                    <br>
                    <button mat-raised-button color="accent"  (click)="saveChanges()" >Save Changes</button>
                </div>
            </mat-list-item>

        </mat-list>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-list>
            <mat-list-item> <b> Nombre:</b>
                <div *ngIf="editMode;else showOnlyModeName">
                    <input matInput placeholder="Nombre"  [(ngModel)]="siteClone.nombre" value="{{site?.nombre}} ">
                </div>
                <ng-template #showOnlyModeName>
                    {{site?.nombre}}
                </ng-template>
            </mat-list-item>
            <mat-list-item> <b>URL:</b>
                <div *ngIf="editMode;else showOnlyModeUrl">
                    <input matInput placeholder="Url" [(ngModel)]="siteClone.url" value="{{site?.url}}">
                </div>
                <ng-template #showOnlyModeUrl>
                    {{site?.url}}
                </ng-template>
                </mat-list-item>
        </mat-list>
    </mat-grid-tile>
</mat-grid-list>


<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Tecnologias de desarollo
            </mat-panel-title>
            <mat-panel-description>
                Tecnologias que usa el sitio web
            </mat-panel-description>
        </mat-expansion-panel-header>
        <app-list-technologies></app-list-technologies>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="getSitesRelated()">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Sitios Relacionados
            </mat-panel-title>
            <mat-panel-description>
                Sitios con los cuales se relaciona el sitio Web
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngIf="site">
        <app-website-related-list siteID="{{site?.id}}"></app-website-related-list>
        </div>
    </mat-expansion-panel>
</mat-accordion>

<router-outlet name="related"></router-outlet>